<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">



        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">银行名称</label>
            <label class="layui-col-xs10">
                <input name="name" required value='{$vo.name|default=""}' placeholder="请输入银行名称" class="layui-input">
            </label>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">卡号</label>
            <label class="layui-col-xs10">
                <input name="account" required value='{$vo.account|default=""}' placeholder="请输入卡号" class="layui-input">
            </label>
        </div>
        
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">开户行</label>
            <label class="layui-col-xs10">
                <input name="kaihuhang" required value='{$vo.kaihuhang|default=""}' placeholder="请输入开户行" class="layui-input">
            </label>
        </div>
        
        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">收款人姓名</label>
            <label class="layui-col-xs10">
                <input name="realname" required value='{$vo.realname|default=""}' placeholder="请输入收款人姓名" class="layui-input">
            </label>
        </div>

        


    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
