{extend name='main'}

{block name='content'}

<style>

    .store-total-container {
        font-size: 14px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    .store-total-container .store-total-icon {
        top: 45%;
        right: 8%;
        font-size: 65px;
        position: absolute;
        color: rgba(255, 255, 255, 0.4);
    }

    .store-total-container .store-total-item {
        color: #fff;
        line-height: 4em;
        padding: 15px 25px;
        position: relative;
    }

    .store-total-container .store-total-item > div:nth-child(2) {
        font-size: 46px;
        line-height: 46px;
    }

    .num2{font-size: 20px;font-weight: bold;line-height: 100%}
    .store-total-container .store-total-item > div:nth-child(2) {
        font-size: 26px;
        line-height: 36px;
        font-weight: bold;
    }
    .store-total-container .store-total-item{line-height: 2em}
</style>

<div class="think-box-shadow store-total-container notselect">
    <div class="margin-bottom-15">商城统计</div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm6 layui-col-md3">
            <div class="store-total-item nowrap" style="background:linear-gradient(-125deg,#57bdbf,#2f9de2)">
                <div>商品总量</div>
                <div>{$goods_num}</div>
                <div>今日新增商品 <span class="num2">{$today_goods_num}</span></div>
                <p>昨日新增商品 <span class="num3">{$yes_goods_num}</span></p>
            </div>
            <i class="store-total-icon layui-icon layui-icon-template-1"></i>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="store-total-item nowrap" style="background:linear-gradient(-125deg,#ff7d7d,#fb2c95)">
                <div>用户总量</div>
                <div>{$users_num}</div>
                <div>今日新增用户 <span class="num2">{$today_users_num}</span></div>
                <p>昨日新增用户 <span class="num3">{$yes_users_num}</span></p>
            </div>
            <i class="store-total-icon layui-icon layui-icon-user"></i>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="store-total-item nowrap" style="background:linear-gradient(-113deg,#c543d8,#925cc3)">
                <div>订单总量</div>
                <div>{$order_num}</div>
                <div>今日新增订单 <span class="num2">{$today_order_num}</span></div>
                <p>昨日新增订单 <span class="num3">{$yes_order_num}</span></p>
            </div>
            <i class="store-total-icon layui-icon layui-icon-read"></i>
        </div>

        <div class="layui-col-sm6 layui-col-md3">
            <div class="store-total-item nowrap" style="background: linear-gradient(-113deg,#8e8cb3,#2219d0);">
                <div>订单总金额</div>
                <div>{$order_sum}</div>
                <div>今日新增订单总金额 <span class="num2">{$today_order_sum}</span></div>
                <p>昨日新增订单总金额 <span class="num3">{$yes_order_sum}</span></p>
            </div>
            <i class="store-total-icon layui-icon layui-icon-rmb"></i>
        </div>
        <div class="layui-col-sm6 layui-col-md2">
            <div class="store-total-item nowrap" style="background:linear-gradient(-141deg,#ecca1b,#f39526)">
                <div>用户充值金额</div>
                <div>{$user_recharge}</div>
                <div>今日充值金额 <span class="num2">{$today_user_recharge}</span></div>
                <p>昨日充值金额 <span class="num3">{$yes_user_recharge}</span></p>
            </div>
            <i class="store-total-icon layui-icon layui-icon-survey"></i>
        </div>

        <div class="layui-col-sm6 layui-col-md2">
            <div class="store-total-item nowrap" style="background: linear-gradient(-141deg,#ec4b1b,#f39526);">
                <div>用户提现金额</div>
                <div>{$user_deposit}</div>
                <div>今日提现金额 <span class="num2">{$today_user_deposit}</span></div>
                <p>昨日提现金额 <span class="num3">{$yes_user_deposit}</span></p>
            </div>
            <i class="store-total-icon layui-icon layui-icon-dollar"></i>
        </div>


        <div class="layui-col-sm6 layui-col-md2">
            <div class="store-total-item nowrap" style="background: linear-gradient(-141deg,#963064,#8a0920);">
                <div>抢单佣金</div>
                <div>{$user_yongjin}</div>
                <div>今日新增佣金 <span class="num2">{$today_user_yongjin}</span></div>
                <p>昨日新增佣金 <span class="num3">{$yes_user_yongjin}</span></p>
            </div>
            <i class="store-total-icon layui-icon layui-icon-survey"></i>
        </div>

        <div class="layui-col-sm6 layui-col-md2">
            <div class="store-total-item nowrap" style="background: linear-gradient(-141deg,#1bec78,#155623);">
                <div>利息宝转入</div>
                <div>{$user_lixibao}</div>
                <div>今日新增利息宝 <span class="num2">{$today_user_lixibao}</span></div>
                <p>昨日新增利息宝 <span class="num3">{$yes_user_lixibao}</span></p>
            </div>
            <i class="store-total-icon layui-icon layui-icon-dollar"></i>
        </div>

        <div class="layui-col-sm6 layui-col-md2">
            <div class="store-total-item nowrap" style="background: linear-gradient(-141deg,#ea7575,#abd6c6);">
                <div>下级返佣</div>
                <div>{$user_fanyong}</div>
                <div>今日新增佣金 <span class="num2">{$today_user_fanyong}</span></div>
                <p>昨日新增佣金 <span class="num3">{$yes_user_fanyong}</span></p>
            </div>
            <i class="store-total-icon layui-icon layui-icon-survey"></i>
        </div>

        <div class="layui-col-sm6 layui-col-md2">
            <div class="store-total-item nowrap" style="background: linear-gradient(-141deg,#2f3331,#565115);">
                <div>用户总余额</div>
                <div style="font-size: 14px">{$user_yue}({$user_djyue})</div>
                <div>今日利息宝转出 <span class="num2">{$today_lxbzc}</span></div>
                <p>今日利息宝收益 <span class="num3">{$today_lxbsy}</span></p>
            </div>
            <i class="store-total-icon layui-icon layui-icon-dollar"></i>
        </div>

    </div>
</div>



<!--<div class="think-box-shadow store-total-container">-->
<!--    <div class="margin-bottom-15">在线客服</div>-->
<!--    <div class="layui-row layui-col-space15">-->
<!--        <a target="_blank" href="http://103.28.46.59/admin/login/index/business_id/1.html"> 客服系统管理后台入口</a>   <br>-->
        
<!--        <p>新增客服系统 , 账号:admin 密码: aa123456</p>-->
        <!--<p> <button type="button" class="layui-btn layui-btn-danger">#</button></p>-->
    </div>
</div>


<div class="layui-row layui-col-space15">
    <div class="layui-col-md6">
        <div class="think-box-shadow">
            <table class="layui-table" lay-skin="line" lay-even>
                <caption class="text-left margin-bottom-15 font-s14">系统信息</caption>
                <colgroup>
                    <col width="30%">
                </colgroup>
                <tbody>
                <tr>
                    <td>当前程序版本</td>
                    <td>{:sysconf('app_version')}</td>
                </tr>
                <tr>
                    <td>运行PHP版本</td>
                    <td>{$Think.PHP_VERSION}</td>
                </tr>
                <tr>
                    <td>ThinkPHP版本</td>
                    <td>{$think_ver}</td>
                </tr>
                <tr>
                    <td>MySQL数据库版本</td>
                    <td>{$mysql_ver}</td>
                </tr>
                <tr>
                    <td>服务器操作系统</td>
                    <td>{:php_uname('s')}</td>
                </tr>
                <tr>
                    <td>WEB运行环境</td>
                    <td>{:php_sapi_name()}</td>
                </tr>
                <tr>
                    <td>上传大小限制</td>
                    <td>{:ini_get('upload_max_filesize')}</td>
                </tr>
                <tr>
                    <td>POST大小限制</td>
                    <td>{:ini_get('post_max_size')}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="think-box-shadow" id="versionTest" data-version="{$has_version}">
            <table class="layui-table" lay-skin="line" lay-even>
                <caption class="text-left margin-bottom-15 font-s14">产品团队</caption>
                <colgroup>
                    <col width="30%">
                </colgroup>
                <tbody>
                <tr>
                    <td>产品名称</td>
                    <td>抢单源码</td>
                </tr>
                <tr>
                    <td>产品说明</td>
                    <td>本产品只为学习测试交流,请勿要做商业或者用于违法行为,一切后果自负</td>
                </tr>
                <tr>
                    <td>请勿点击</td>
                    <td>
                        <a href="#">
                            <img src="" style="height:18px;width:auto" target="_blank">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>产品大小</td>
                    <td><a target="_blank" href="">25.5M</a></td>
                </tr>
                <tr>
                    <td>数据库</td>
                    <td><a target="_blank" href="">mysql</a></td>
                </tr>
                <tr>
                    <td>版本</td>
                    <td>{:config('version')}  　　<a  onclick="return updateVersion()" href="javascript:void(0)">检查更新;</a></td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        if ($('#versionTest').data('version')) {
            // setTimeout(function () {
            //     updateVersion();
            // }, 1000);
        }
    });



    function updateVersion() {
        //多窗口模式，层叠置顶
        layer.open({
            type: 2 //此处以iframe举例
            , title: '有新的版本更新提示!'
            , area: ['680px', '550px']
            , shade: 0
            ,skin: 'layui-layer-setmybg'
            , maxmin: true
            , content: "{:url('Index/clear')}"+'?'
            , btn: ['查看全部更新记录', '关闭'] //只是为了演示
            , yes: function () {
                window.open('');
            }
            , btn2: function () {
                layer.closeAll();
            }

            , zIndex: layer.zIndex //重点1
            , success: function (layero) {
                layer.setTop(layero); //重点2
            }
        });
        return false;
    }
</script>
{/block}
