{extend name='main'}

{block name="button"}

{if auth("add_users")}
{if $isjia == 1}
<button data-modal='{:url("set_betch_jia_password")}' data-title="批量添加假人" class='layui-btn'>批量添加假人</button>
{/if}
<button data-modal='{:url("add_users")}' data-title="添加会员" class='layui-btn'>添加会员</button>
{/if}

{/block}

{block name="content"}

<div class="think-box-shadow">
    {include file='users/index_search'}
    <table class="layui-table margin-top-15" lay-filter="tab" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th lay-data="{field:'id',width:80}" class='text-left nowrap'>ID</th>
            <th lay-data="{field:'tel'}" class='text-left nowrap'>手机号码</th>
            <th lay-data="{field:'username'}" class='text-left nowrap'>真实姓名</th>
            <th lay-data="{field:'level_name'}" class='text-left nowrap'>会员等级</th>
            <th lay-data="{field:'balance'}" class='text-left nowrap'>账户余额</th>
            <!--<th lay-data="{field:'balance'}" class='text-left nowrap'>充值总额</th>-->
            <th lay-data="{field:'balance'}" class='text-left nowrap'>提现总额</th>
            <th lay-data="{field:'balance'}" class='text-left nowrap'>盈利</th>
            <th lay-data="{field:'freeze_balance'}" class='text-left nowrap'>冻结金额</th>
            <th lay-data="{field:'lixibao_balance'}" class='text-left nowrap'>利息宝金额</th>
            <th lay-data="{field:'parent_name'}" class='text-left nowrap'>上级用户</th>
            <th lay-data="{field:'pipei_min'}" class='text-left nowrap'>匹配区间</th>
            <th lay-data="{field:'invite_code'}" class='text-left nowrap'>邀请码</th>
            <th lay-data="{field:'addtime',width:200}" class='text-left nowrap'>注册时间</th>
            <th lay-data="{field:'ip',width:200}" class='text-left nowrap'>最后登录IP</th>
            <th lay-data="{field:'is_jia',width:80}" class='text-left nowrap'>状态</th>
            <th lay-data="{field:'edit',width:280,fixed: 'right'}" class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>

            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.tel}</td>
            <td class='text-left nowrap'>{$vo.username}</td>
            <td class='text-left nowrap'>{$vo.level_name}</td>
            <td class='text-left nowrap'>{$vo.balance}</td>
            <!--<td class='text-left nowrap'>{$vo.recharge_sum|default='0.00'}</td>-->
            <td class='text-left nowrap'>{$vo.deposit_sum|default='0.00'}</td>
            <td class='text-left nowrap'>{$vo.recharge_sum - $vo.deposit_sum}</td>
            <td class='text-left nowrap'>{$vo.freeze_balance}</td>
            <td class='text-left nowrap'>{$vo.lixibao_balance}</td>
            <td class='text-left nowrap'>{$vo.parent_name}</td>
            <td class='text-left nowrap'>{$vo.pipei_min}% - {$vo.pipei_max}%</td>
            <td class='text-left nowrap'>{$vo.invite_code}</td>

            <td class='text-left nowrap'>
                {$vo.addtime|date='Y-m-d H:i:s'}
            </td>
             <td class='text-left nowrap'>
                {$vo.ip|default='-'}
            </td>
            <td class='text-left nowrap'>
                {if $vo.is_jia>0}
                <a class="layui-btn layui-btn-danger layui-btn-xs" >假人</a>
                {else}
                <a class="layui-btn layui-btn-normal layui-btn-xs" >真人</a>
                {/if}

            </td>
            <td class='text-left nowrap'>
                {if auth("edit_users")}

                <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑菜单" data-modal='{:url("admin/users/edit_users")}?id={$vo.id}'>编 辑</a>

                {if ($vo.status == 1) and auth("edit_users_status")}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#2" style='background:red;'>禁用</a>
                {elseif ($vo.status == 2) and auth("edit_users_status") /}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status',['status'=>1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#1" style='background:green;'>启用</a>
                {/if}
                <a class="layui-btn layui-btn-xs layui-btn" onClick="del_user({$vo.id})" style='background:red;'>删除</a>
			
				

                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="暗扣设置" data-modal='{:url("admin/users/edit_users_ankou")}?id={$vo.id}'>暗扣设置</a>
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="银行卡信息" data-modal='{:url("admin/users/edit_users_bk")}?id={$vo.id}'>银行卡信息</a>
                <br>
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="收货地址信息" data-modal='{:url("admin/users/edit_users_address")}?id={$vo.id}'>地址信息</a>


				
                {/if}
                <a class="layui-btn layui-btn-xs layui-btn" data-action="{:url('edit_users_ewm',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#{$vo.invite_code}" style='background:red;'>刷新</a>

                {if auth("tuandui")}
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="查看团队" data-reload="true" data-open='{:url("admin/users/tuandui")}?id={$vo.id}'>查看团队</a>
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-normal" data-title="查看账变" data-reload="true" data-open='{:url("admin/users/caiwu")}?id={$vo.id}'>账变</a>
                {/if}
				
                {if ($vo.is_jia == 1) and auth("edit_users_status")}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status2',['status'=>-1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#-1" style='background:red;'>设为真人</a>
                {else/}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status2',['status'=>1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#1" style='background:green;'>设为假人</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <script>
        function del_user(id){
            layer.confirm("确认要删除吗，删除后不能恢复",{ title: "删除确认" },function(index){
                $.ajax({
                    type: 'POST',
                    url: "{:url('delete_user')}",
                    data: {
                        'id': id,
                        '_csrf_': "{:systoken('admin/users/delete_user')}"
                    },
                    success:function (res) {
                        layer.msg(res.info,{time:2500});
                        location.reload();
                    }
                });
            },function(){});
        }
    </script>
    <!--<script>
        var table = layui.table;
        //转换静态表格
        var limit = Number('{$Think.get.limit}');
        if(limit==0) limit=20;
        table.init('tab', {
            cellMinWidth:120,
            skin: 'line,row',
            size: 'lg',
            limit: limit
        });
    </script> -->
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
