<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
          <div class="layui-form-item">
            <label class="layui-form-label">生成假人数量</label>
            <div class="layui-input-block">
                <input name="num" placeholder="请输入生成假人数量(不改请留空)" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">登录密码</label>
            <div class="layui-input-block">
                <input name="pwd" placeholder="请输入登录密码(不改请留空)" class="layui-input">
            </div>
        </div>
        
        
        <div class="layui-form-item">
            <label class="layui-form-label">银行卡</label>
            <div class="layui-input-block">
                <input name="yhk" placeholder="请输入银行卡(不改请留空)" class="layui-input">
            </div>
        </div>
        
         <div class="layui-form-item">
            <label class="layui-form-label">名字</label>
            <div class="layui-input-block">
                <input name="username" placeholder="请输入名字(不改请留空)" class="layui-input">
            </div>
        </div>
         <div class="layui-form-item">
            <label class="layui-form-label">资金密码</label>
            <div class="layui-input-block">
                <input name="zjpwd" placeholder="请输入资金密码(不改请留空)" class="layui-input">
            </div>
        </div>
        
        
        <div class="layui-form-item">
            <label class="layui-form-label">统一金额</label>
            <div class="layui-input-block">
                <input name="balance" placeholder="请输入统一金额" class="layui-input">
            </div>
        </div>
             <div class="layui-form-item">
            <label class="layui-form-label">假人上级id</label>
            <div class="layui-input-block">
                <input name="parent_id" placeholder="请输入假人上级id" class="layui-input">
            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>
