<div data-v-8755e8fe=""
     data-v-eebac136=""
     class="footer">
  <ul data-v-8755e8fe="">
    <li onclick="window.location.href='{:url(\'index/home\')}'"
        data-v-8755e8fe="">
      <img data-v-8755e8fe=""
           src="{:lang('/img/home_before.png','home')}"
           alt="">
      <img data-v-8755e8fe=""
           src="{:lang('/img/home_after.png','home')}"
           alt="">
      <span class="activeText">{:lang('Home')}</span>
    </li>
    <li onclick="window.location.href='{:url(\'order/index\')}'"
        data-v-8755e8fe="">
      <img data-v-8755e8fe=""
           src="{:lang('/img/order_before.png','order')}"
           alt="">
      <img data-v-8755e8fe=""
           src="{:lang('/img/order_after.png','order')}"
           alt="">
      <span>{:lang('Historic')}</span>
    </li>
    <?php
            $level = session('level') ? session('level') : 0;
            $level = $level + 1;
            $url = '/index/ctrl/team';
        ?>
    <li onclick="window.location.href='<?=$url?>'"
        data-v-8755e8fe="">
      <img data-v-8755e8fe=""
           src="{:lang('/img/team_before.png',[3])} "
           alt="">
      <img data-v-8755e8fe=""
           src="{:lang('/img/team_after.png',[3])}"
           alt="">
      <span>{:lang('Team')}</span>
    </li>
    <li onclick="window.location.href='{:url(\'ctrl/lixibao\')}'"
        data-v-8755e8fe="">
      <img data-v-8755e8fe=""
           src="{:lang('/img/jr_before.png',[4])}"
           alt="">
      <img data-v-8755e8fe=""
           src="{:lang('/img/jr_after.png',[4])}"
           alt="">
      <span>{:lang('Financial')}</span>
    </li>
    <li onclick="window.location.href='{:url(\'my/index\')}'"
        data-v-8755e8fe="">
      <img data-v-8755e8fe=""
           src="{:lang('/img/person_before.png',[5])}"
           alt="">
      <img data-v-8755e8fe=""
           src="{:lang('/img/person_after.png',[5])}"
           alt="">
      <span>{:lang('Personal')}</span>
    </li>
  </ul>
</div>