{extend name='main'}

{block name="content"}

<div class="think-box-shadow">
    {include file='deal/order_list_search'}
    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>订单号</th>
            <th class='text-left nowrap'>真实姓名</th>
            <th class='text-left nowrap'>余额</th>
            <th class='text-left nowrap'>今日单数</th>
            <th class='text-left nowrap'>上级用户</th>
            <th class='text-left nowrap'>商品单价</th>
            <th class='text-left nowrap'>交易数量</th>
            <th class='text-left nowrap'>交易数额</th>
            <th class='text-left nowrap'>佣金</th>
            <th class='text-left nowrap'>下单时间</th>
            <th class='text-left nowrap'>解冻时间</th>
            <th class='text-left nowrap'>交易状态</th>
            <th class='text-left nowrap'>操作</th>
             <th class='text-left nowrap'>商品名称</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.username}</td>
            <td class='text-left nowrap'><?=$vo['user_current_balance'] > 0 ? $vo['user_current_balance'] : ''?></td>
            <td class='text-left nowrap'><?=!empty($today_num_list[$vo['id']]) ? $today_num_list[$vo['id']]['date'] : ''?> <?=!empty($today_num_list[$vo['id']]) ? ' 第' . $today_num_list[$vo['id']]['today_num'] . '单' : ''?></td>
            <td class='text-left nowrap'><?=!empty($today_num_list[$vo['id']]) ? $today_num_list[$vo['id']]['parent_username'] : ''?></td>
            <td class='text-left nowrap'>
                                            {foreach $res as $k=>$v}
                                   
                                        {if $vo.id == $v.oid}
                                        {if $v.dun == 3}
                                            美元
                                            <?php $sum = 0.14 ?>
                                        {/if}
                                         {if $v.dun == 2}
                                            卢比
                                             <?php $sum = 11 ?>
                                        {/if}
                                         {if $v.dun == 1}
                                           元
                                            <?php $sum = 1 ?>
                                        {/if}
                                         {$vo.goods_price * $sum}
                                         <?php break  ?>
                                         
                                            
                                         {/if}
                                    {/foreach}</td>
            <td class='text-left nowrap'>{$vo.goods_count}</td>
            <td class='text-left nowrap'>{foreach $res as $k=>$v}
                                   
                                        {if $vo.id == $v.oid}
                                        {if $v.dun == 3}
                                            美元
                                             <?php $sum = 0.14 ?>
                                        {/if}
                                         {if $v.dun == 2}
                                            卢比
                                             <?php $sum = 11 ?>
                                        {/if}
                                         {if $v.dun == 1}
                                           元
                                           <?php $sum = 1 ?>
                                        {/if}
                                         {$vo.num * $sum }
                                         <?php break  ?>
                                         
                                            
                                         {/if}
                                    {/foreach}</td>
            <td class='text-left nowrap'>{foreach $res as $k=>$v}
                                   
                                        {if $vo.id == $v.oid}
                                        {if $v.dun == 3}
                                            美元
                                            <?php $sum = 0.14 ?>
                                        {/if}
                                         {if $v.dun == 2}
                                            卢比
                                             <?php $sum = 11 ?>
                                        {/if}
                                         {if $v.dun == 1}
                                           元
                                            <?php $sum = 1 ?>
                                        {/if}
                                         {$vo.commission * $sum}
                                         <?php break  ?>
                                         
                                            
                                         {/if}
                                    {/foreach}</td>
            <td class='text-left nowrap'>
                {$vo.addtime|format_datetime}
            </td>
            <td class='text-left nowrap'>
                {$vo.endtime|format_datetime}
            </td>
            <td class='text-left nowrap'>
                {switch $vo.status}
                    {case 0}

                        <!-- {if auth("edit_recharge")}
                                <a data-csrf="{:systoken('admin/deal/edit_recharge')}" class="layui-btn layui-btn-xs layui-btn" data-action="{:url('edit_recharge',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#2" >确认付款</a>
                                <a data-csrf="{:systoken('admin/deal/edit_recharge')}" class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_recharge',['status'=>3,'id'=>$vo.id])}" data-value="id#{$vo.id};status#3" >取消订单</a>
                            {/if} -->
                            等待付款
                    
                    {/case}
                    {case 1}完成付款{/case}
                    {case 2}用户取消{/case}
                    {case 3}强制付款{/case}
                    {case 4}系统取消{/case}
                    {case 5}订单冻结{/case}
                {/switch}
            </td>
            <td class='text-left nowrap'>
                {if $vo.status==0}
                <a data-csrf="{:systoken('admin/deal/do_user_order')}" class="layui-btn layui-btn-xs layui-btn" data-action="{:url('do_user_order')}" data-value="id#{$vo.id};status#3" >强制付款</a>
                <a data-csrf="{:systoken('admin/deal/do_user_order')}" class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('do_user_order')}" data-value="id#{$vo.id};status#4" >取消订单</a>
                {/if}

                {if $vo.status==5}
                <a data-csrf="{:systoken('admin/deal/jiedong')}" class="layui-btn layui-btn-xs layui-btn" data-action="{:url('jiedong')}" data-value="id#{$vo.id};status#3" >手动解冻</a>
                {/if}
            </td>
            <td class='text-left nowrap'>{$vo.goods_name}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
